@use "../base";
@use "../mixin";
@use "../setting";
@use "../module";

.position-detail-fv__heading-container--agent {
  background-image: url(../../img/agent.jpeg);

  @include mixin.mq(twice) {
    background-image: url(../../img/agent@2x.jpeg);
  }
}

.position-detail-fv__title--agent {
  @include mixin.mq(sp-ms) {
    font-size: 2.86rem;
  }
}
